<div class="container top-page">
	<p id="notice"><%= notice %></p>

	<font color="red">
  	<h3>Name</h3>
  </font>
  <h4>
  	<%= @product.name %>
	</h4>
	
		<font color= "red">
			<h3>Category</h3>
		</font>
	<h4>
		<%= @product.category %>
	</h4>

	<font color= "red">
		<h3>Description</h3>
	</font>

	<h4>
  	<%= @product.description %>
	</h4>

	<font color= "red">
		<h3>Image Url</h3>
	</font>
	<h4>
  	<%= @product.image_url %>
	</h4>
	
	<font color= "red">
		<h3>Color</h3>
	</font>

	<h4>
		<%= @product.color %>
	</h4>

	<font color= "red">
		<h3>Price</h3>
	</font>

	<h4>
		<strong><%= @product.price %> € </strong>
	</h4>
	<% if user_signed_in? %>
		<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default" %> |
	<% end %>
	<%= link_to 'Back', products_path, class: "btn btn-default" %>

</div>